<!-- setting up default view -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- css file link -->
    <link rel="stylesheet" href="index.css">
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(25, 50, 97);" data-bs-theme="dark">
        <div >
            <img src="images/logo-mind.png" style="height: 40px;margin-left:10px;margin-right:10px;border-radius: 35%;" alt="">
            <a class="navbar-brand" style="color: rgb(248, 230, 37) !important;font-size: x-large;display: inline;margin-top: 5px;"
                href="#">Habit Tracker</a>

        </div>
    </nav>

    <%-body%>


        <!-- bootstrap javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        
        <!-- link javascript -->
        <script src="indexScript.js"></script>
</body>

</html>